.gradle/8.13/checksums/checksums.lock
.gradle/8.13/checksums/checksums.lock
.gradle/8.13/checksums/sha1-checksums.bin
.gradle/8.13/fileHashes/fileHashes.lock
.gradle/nb-cache/app-527244599/project-info.ser
build/reports/problems/problems-report.html
/.gradle

# Local config & secrets (must never be committed)
local.properties
